<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.edu.nju.cs.screencamera">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FileActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".CameraActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".VideoToFramesActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:name=".MainSettingsActivity" />
        <activity android:name=".ConfigListActivity" />
        <activity android:name=".ConfigEditActivity" />
    </application>

</manifest>
